/.venv
/anti-ad-bypass.conf
/anti-ad.conf
/apple.txt
/Bing.yaml
/clash-core-bypass.conf
/direct.txt
/Epic.yaml
/icloud.txt
/Microsoft.yaml
/Oracle.yaml
/private.txt
/Private_DIRECT.yaml
/SteamCN.yaml
/WeChat.yaml